* {
	margin: 0;
	padding: 0;
}

html{
	background: url("../img/background.jpg") repeat;
}

body{
	color: #184771;
	font: normal 15pt 'Roboto Light', sans-serif;
}

h1{
	font-size:24pt;
	font-weight: bold;
	font-family: 'Roboto Black', sans-serif;
	color: #184771;
}
h3{
font-size:15pt;
}
img{	
	border: 0;
}		
a{
	color: #FFFFFF;
	outline: none;
	text-decoration: none;
	font: normal 15pt 'Roboto Light', sans-serif;
}

ul li{
	list-style: none;
}	


/*******************************************************************************************************************************************************************/


.wrapper{
	width: 1140px;
	margin: 0 auto;	
	/*background: #ececec url("../img/background-repeat.jpg") repeat;*/
	background:#FFFFFF;
}

#header{
	width:100%;
	height:150px;
	background: #ececec url("../img/background.jpg") repeat;
}
/*******************************************************************************************************************************************************************/
.logo{
	float:left;
	width:307px;
	height:65px;
	text-indent: -90000px;
	background: url("../img/logo.png") no-repeat 0 0;
	margin-left:30px;
	margin-top:55px;
}

.logo:hover{
	opacity: 0.5;
}

.main-navigation{
	margin: 55px 30px 0 0;
	float: right;
}
.main-navigation li{
	height: 50px;
	margin: 0 2px;
	padding: 0 6px;
	float: left;
}
.main-navigation li a{
	height: 35px;
	padding: 15px 10px 0;
	float: left;
	position: relative;	
	text-decoration: none;
	color: #FFFFFF;
	font: normal 12pt 'Roboto Light', sans-serif;
	background: url("../img/background-navigation.jpg") repeat-x 0 -9000px;
		
}

.main-navigation li a:hover, .main-navigation li.active a{
	color: #FFFFFF;
	background-position: 0 0;
}
.main-navigation li a:hover:before, .main-navigation li a:hover:after, .main-navigation li.active a:before, .main-navigation li.active a:after{
	display: block;
}
.main-navigation li a:before, .main-navigation li a:after{
	width: 6px;
	height: 45px;
	content: '';
	position: absolute;
	top: 0;
	display: none;
}

.main-navigation li a:before{
	left: -6px;
	background: url("../img/main-navigation-left.jpg") no-repeat 0 0;
}
.main-navigation li a:after{
	right: -6px;
	background: url("../img/main-navigation-right.jpg") no-repeat 0 0;
}
/*******************************************************************************************************************************************************************/

#middle{
	clear:both;
}

.mainText{
text-align:center;
padding-top:60px;
}

.mainText p{
padding-top:35px;
}

.blockImages{
	border:1px solid #DFDFDF;
	height:280px;
	width:190px;
	margin: 50px 0 0 30px;
	display:table;
	float:left;
}

.rowHeader{
	display:table-row;
	height:90px;
	background: url("../img/Midle/second/background-header.jpg") repeat;
}

.cellHeader{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.cellHeader h3{
	height:60px;
	overflow:hidden;
	text-align:center;
}

.rowImg{
	display:table-row;
	height:110px;
	background:#FFFFFF;
}

.cellImg{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.cellImg img{
	max-height:100px;
	max-width:100px;
	text-align:center;
}

.rowButton{
	display:table-row;
	height:76px;
	background: url("../img/Midle/second/background-bottom.jpg") repeat;
}

.cellButton{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.cellButton a{
	display:block;
	width:118px;
	height:40px;
	background:url("../img/button.jpg") no-repeat 0 0;
	text-indent:-90000px;
	margin:0 auto;
}

.cellButton a:hover{
		opacity: 0.5;
}

/*******************************************************************************************************************************************************************/

.bottomText{
	clear:both;
	padding-top:40px;
	padding-left:30px;
	padding-right:30px;
	text-align:center;
	background: url("../img/Midle/second/background-bottom.jpg") repeat;
}

.contentImg{
	display: inline-block;
    padding-bottom: 50px;
}

.bottomText h2{
	padding-bottom:30px;
}

/*******************************************************************************************************************************************************************/
#footer{
	background: #ececec url("../img/background.jpg") repeat;
	height:160px;
}

.footerInfo{
	float:left;
	color:#91AFC9;
	padding-left:30px;
	padding-top:25px;
	font-size:10pt;
}

.bottom-navigation{
	float:right;
	margin-top: -25px;
}

.bottom-navigation li{
	float:left;
	padding-right: 20px;
}

.bottom-navigation li a{
	font-size:10pt;
	padding-right: 15px;
	border-right: 1px solid #5F87AE;
	color:#91AFC9;
}

.twitter{
	width:250px;
	padding-left: 20px;
	padding-top: 20px;
	float:left;
}

.twitter a{
	background:url("../img/twit.png") no-repeat;
	text-indent:-90000px;
	height:23px;
	width:153px;
	display:block;
}

.twitter a:hover{
	opacity:0.5;
}
/*
.bottom-navigation li :last-child{
	border:none;
}
*/
#lastlink{
	border-right:0px;
}